# 排除全部文件
**/*

# Rust
!legacy/client-rust/src
!legacy/client-rust/Cargo.toml
!legacy/client-rust/Cargo.lock

# MiGPT
!legacy/migpt/src
!legacy/migpt/migpt
!legacy/migpt/config.ts
!legacy/migpt/package.json
!legacy/migpt/pnpm-lock.yaml
!legacy/migpt/Cargo.toml
!legacy/migpt/Cargo.lock
!legacy/migpt/tsconfig.json
legacy/migpt/migpt/open-xiaoai.node

# XiaoZhi
!legacy/xiaozhi/src
!legacy/xiaozhi/xiaozhi
!legacy/xiaozhi/Cargo.toml
!legacy/xiaozhi/Cargo.lock
!legacy/xiaozhi/config.py
!legacy/xiaozhi/main.py
!legacy/xiaozhi/uv.lock
!legacy/xiaozhi/.python-version
!legacy/xiaozhi/requirements.txt
!legacy/xiaozhi/pyproject.toml
